rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedInAsAdmin() {
      return request.auth != null && (
          request.auth.token.email == "roys.abreu@gmail.com"
      );
    }

    // Regla para la colección 'clientes'
    match /clientes/{id} {
      allow read, update, delete, create: if isSignedInAsAdmin();
    }

    // Regla para la colección 'registro'
    match /registro {
      allow read, update, delete, create: if isSignedInAsAdmin();
    }
    match /limpiezasMensuales/{document=**} {
       allow read, write,update,create: if isSignedInAsAdmin(); 
  }match /gastos/{id} {
  allow read, update, delete, create: if isSignedInAsAdmin();
}
    match /mensajes/{document} {
      allow create: if
        request.resource.data.keys().hasAll(['nombre', 'email', 'mensaje']) &&
        request.resource.data.nombre is string && request.resource.data.nombre.size() > 0 && request.resource.data.nombre.size() <= 100 &&
        request.resource.data.email is string && request.resource.data.email.size() > 0 && request.resource.data.email.size() <= 200 &&
        request.resource.data.mensaje is string && request.resource.data.mensaje.size() > 0 && request.resource.data.mensaje.size() <= 2000 &&
        request.resource.data.keys().size() <= 6;
      allow read, update, delete: if isSignedInAsAdmin();
    }
  }
}